body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #515076;
    background-image: url("/Users/deniskorchagin/Desktop/CODE/Обучение/MyFirstProject /study/Img/277dd19923dad086e076ad97f1496dc4.png");
    background-repeat: no-repeat;
    background-size: 790px 697px;
}

.title {
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 100;
    color: #515076;
    
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 116px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 45px;
    column-gap:45px;
    justify-content: center;
    width: 1110;

}

.main-text {
    line-height: 18px;
    margin-top: 5px;
    margin-block-end: 15px;
    padding: 0;

}

.main-text_compaund {
    margin-block-end: 25px;
    margin-left: 0px;
    padding-left: 12;

}

.main-text_price {
    margin-top: 25;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;

}

.card {
    padding: 25;
    width: 290;
    height: 450;
    background-color: rgb(243, 241, 240);
    block-size: border-box;

}

.category {
    margin-top: 30px;
    text-transform: uppercase;
}

.category-name {
    margin-top: 5px;
    margin-block-end: 5px;
}